{% load static %}

<!-- Footer -->
<div class="container-fluid bg-black">
	<!-- Delivery Threshold-->

	<div id="delivery-banner" class="row">
		<div class="col text-white text-center bg-black">
			<h5 class="logo-font text-center">Free shipping and returns on orders over
				${{ free_delivery_threshold }} !<i class="fas fa-shipping-fast text-success"></i></h5>
		</div>
	</div>



	<!-- Newseletter, Shipping, Contact, social media and Payment-->

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div class="card text-center">
				<div class="card-header bg-black text-white">
					<i class="fas fa-book-reader text-white px-1"></i>Newsletter
				</div>
				<div class="card-body">
					<h5 class="card-title">News</h5>
					<p class="card-text">Subscribe to our mailing list for latest news and deals.</p>
					<a href="{% url 'subscription'  %}" class="btn btn-black rounded">Subscribe</a>
				</div>
				<div class="card-footer text-muted bg-black">
					<i class="fas fa-rss text-white" rel="noopener" target="_blank"></i>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div class="card text-center">
				<div class="card-header bg-black text-white">
					<i class="fas fa-truck-moving px-1 text-white"></i>Shipping & Delivery
				</div>
				<div class="card-body">
					<h5 class="card-title">Worldwide</h5>
					<p class="card-text">We delivery worldwide, with fast return policy.</p>
					<a href="{% url 'shipping'%}" class="btn btn-black" rel="noopener" target="_blank">Shipping</a>
				</div>
				<div class="card-footer text-muted bg-black">
					<i class="fas fa-truck text-white"></i>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div class="card text-center">
				<div class="card-header bg-black text-white">
					<i class="fas fa-credit-card px-1 text-white"></i> Accepted Payment
				</div>
				<div class="card-body">
					<h5 class="card-title">Visa and Master Card</h5>
					<p class="card-text">Checkout with Visa and Master card.</p>
					<p>
						<a href="https://www.visa.se/" class="text-dark">
							<i class="fab fa-lg fa-cc-visa fa-lg px-1"></i><span>Visa</span>
						</a>

						<a href="https://www.mastercard.com/global/en.html" class="text-dark">
							<i class="fab fa-lg fa-cc-mastercard fa-lg px-1"></i><span>Mastercard</span>
						</a>
					</p>

				</div>
				<div class="card-footer text-muted bg-black">
					<a href="https://stripe.com/" class="text-dark"><i class="fab fa-stripe text-white"></i></a>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div class="card text-center">
				<div class="card-header bg-black text-white">
					<i class="fas fa-headset px-1 text-white"></i>Customer Service
				</div>
				<div class="card-body">
					<h5 class="card-title">Support center</h5>
					<p class="card-text">We are at your service 247, give us a call or email us.</p>
					<a href="{% url 'contact' %}" class="text-black"
						aria-label="contact our Customer Support page (opens in new tab)" rel="noopener"
						target="_blank"><i class="fas fa-envelope text-black px-1"></i>Email Us</a>
				</div>
				<div class="card-footer text-black bg-black">
					<p class="text-white">Tel: 1234567890</p>

				</div>
			</div>
		</div>

	</div>

	<!-- social media -->
	<div class="mt-5">

		<ul class="list-inline d-flex justify-content-center">

			<li class="list-inline-item ">
				<a href="https://github.com/gullah26" class="me-4" aria-label="find us on github (opens in new tab)"
					rel="noopener" target="_blank"><i class="fab fa-github fa-2x text-white"></i>
				</a>
			</li>

			<li class="list-inline-item mx-4">
				<a href="https://www.facebook.com/profile.php?id=100086998397922" class="me-4"
					aria-label="find us on Facebook (opens in new tab)" rel="noopener" target="_blank"><i
						class="fab fa-facebook-f fa-2x text-primary"></i>
				</a>
			</li>

			<li class="list-inline-item mx-4">
				<a href="https://twitter.com/" class="me-4" aria-label="find us on Twitter (opens in new tab)"
					rel="noopener" target="_blank"><i class="fab fa-twitter fa-2x text-info"></i>
				</a>
			</li>

			<li class="list-inline-item">
				<a href="https://www.instagram.com/" class="me-4" aria-label="find us on Instagram (opens in new tab)"
					rel="noopener" target="_blank"><i class="fab fa-instagram fa-2x text-danger"></i>
				</a>
			</li>
		</ul>


	</div>

	<!-- Copyright -->
	<div class="text-center p-3 text-white bg-black">
		<small class="copyright-text">
			&copy; Copyright 2022. Seun Ajetomobi. This project data information is for educational purposes only.
			No commercial revenue is generated from the project.
		</small>
	</div>




</div>