<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Precious Gems
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Sapphires</a>
                <a href="" class="dropdown-item">Rubies</a>
                <a href="" class="dropdown-item">Emeralds</a>
                <a href="" class="dropdown-item">All Precious Gemstones</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Semi-Precious Gems
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Amethyst</a>
                <a href="" class="dropdown-item">Aquamarine</a>
                <a href="" class="dropdown-item">Citrine</a>
                <a href="" class="dropdown-item">Garnet</a>
                <a href="" class="dropdown-item">Onyx</a>
                <a href="" class="dropdown-item">Opal</a>
                <a href="" class="dropdown-item">Peridot</a>
                <a href="" class="dropdown-item">Tanzanite</a>
                <a href="" class="dropdown-item">Topaz</a>
                <a href="" class="dropdown-item">All Semi-Precious Gems</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Ratings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Outstanding</a>
                <a href="" class="dropdown-item">Excellent</a>
                <a href="" class="dropdown-item">Superior</a>
                <a href="" class="dropdown-item">Fine</a>
                <a href="" class="dropdown-item">All Ratings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
            </div>
        </li>
    </ul>
</div>